[submodule "extern/django"]
	path = extern/django
	url = git@github.com:django/django.git
[submodule "labcms"]
	path = labcms
	url = git@github.com:labc/labcms.git
[submodule "mongoengine"]
	path = mongoengine
	url = git@github.com:MongoEngine/mongoengine.git
