{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>The LAB Center</title>
	<link rel="stylesheet" href="{% static 'labc.css' %}">
</head>
<body class="frontpage">
	<header>
		<img src="{% static 'The_Lab_logo_120811.png' %}" width="700px" height="248px">
		<p>an organization for providing resources for entrepreneurs and hobbyists to create, learn and network</p>
	</header>
	<section>
		<h1><a href="/about-us">About Us</a></h1>
	</section>
	<section>
		<h1>Latest Posts</h1>
	</section>
	<section>
		<h1>From the Twitter</h1>
		<p>Mauris ante est, tincidunt sed pulvinar sit amet, varius auctor odio. Duis tempus, mauris vel ultrices feugiat, eros leo vulputate volutpat.</p>
		<p>Phasellus condimentum rhoncus sapien, a scelerisque massa vestibulum sed. Duis nibh nisi, ullamcorper nec eleifend vitae, pharetra vel amet.</p>
	</section>
</body>
</html>
